*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    background: blue;
    height: 50px;
    color: white;
    padding-left: 1rem;

}